# 简单的算术

In [1]:
1+2

3

In [2]:
5+9

14

In [3]:
43-56

-13

In [4]:
43*56

2408

In [5]:
64/8

8.0

In [6]:
64/4

16.0

In [7]:
64/2

32.0

In [8]:
64/3

21.333333333333332

In [9]:
6+7-8/4

11.0

In [10]:
6+7-2

11

In [11]:
print('天天')

天天

In [17]:
for a in range(10,21):
    print(a)

10
11
12
13
14
15
16
17
18
19
20

In [21]:
for a in range(10,21):
    if a%2==0:
        print(a)

10
12
14
16
18
20

In [22]:
for a in range(10,21):
    if a%2==1:
        print(a)

11
13
15
17
19

In [24]:
for a in range(10,21,2):
    print(a)

10
12
14
16
18
20

In [25]:
for a in range(1,21,3):
    print(a)

1
4
7
10
13
16
19

In [26]:
for a in range(1,21,4):
    print(a)

1
5
9
13
17

In [29]:
for a in range(0,101,10):
    print(a)

0
10
20
30
40
50
60
70
80
90
100

In [34]:
for i in range(1,10):
    for k in range(1,i):
        print (end="         ")
    for j in range(i,10):
            print("%d*%d=%2d  " % (i,j,i*j),end=" ")
    print("")

1*1= 1   1*2= 2   1*3= 3   1*4= 4   1*5= 5   1*6= 6   1*7= 7   1*8= 8   1*9= 9
         2*2= 4   2*3= 6   2*4= 8   2*5=10   2*6=12   2*7=14   2*8=16   2*9=18
                  3*3= 9   3*4=12   3*5=15   3*6=18   3*7=21   3*8=24   3*9=27
                           4*4=16   4*5=20   4*6=24   4*7=28   4*8=32   4*9=36
                                    5*5=25   5*6=30   5*7=35   5*8=40   5*9=45
                                             6*6=36   6*7=42   6*8=48   6*9=54
                                                      7*7=49   7*8=56   7*9=63
                                                               8*8=64   8*9=72
                                                                        9*9=81

In [36]:
for i in range(1,10):
    for k in range(1,i):
        print (end="         ")
    for j in range(i,10,2):
            print("%d*%d=%2d  " % (i,j,i*j),end=" ")
    print("")

1*1= 1   1*3= 3   1*5= 5   1*7= 7   1*9= 9
         2*2= 4   2*4= 8   2*6=12   2*8=16
                  3*3= 9   3*5=15   3*7=21   3*9=27
                           4*4=16   4*6=24   4*8=32
                                    5*5=25   5*7=35   5*9=45
                                             6*6=36   6*8=48
                                                      7*7=49   7*9=63
                                                               8*8=64
                                                                        9*9=81